
// Notifications, allerts
.note,
.important {
    border-radius: $border-radius;
    color: $gray-700;
    margin: 1.875em 0;
    padding: 1em 1.125em;

    &:first-child {
        margin-top: 0;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.note {
    background: $yellow-pale;
    border-left: 5px solid $yellow;
}

.important {
    background: $red-pale;
    border-left: 5px solid $red;
}
